{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="{% static 'css/todo_list.css' %}"/>
    <title>ToDo list</title>
</head>
<body>
<div><p>BDFjango TODO</p></div>
<table>
    <th>Tasks in "List 1"</th>
</table>

<table>
<tr>
    <th>Task</th>
    <th>Created</th>
    <th>Due on</th>
    <th>Owner</th>
    <th>Mark</th>
</tr>

    {% for this_task in tasks_list %}
        {% if this_task.mark%}
            <td>{{ this_task.task }}</td>
            <td>{{ this_task.created }}</td>
            <td>{{ this_task.due_on }}</td>
            <td>{{ this_task.owner }}</td>
            <td><div>Done</div></td>
            </tr>
        {% endif %}
    
    {% endfor %}


</table>

</body>
</html>