{% extends 'base.html' %}
{% block content %}

<body>
<div class="topbar"><p>BDFjango TODO</p></div>
<div class="table_box">
<button class="btn1">Add task</button>
<table>
    <th class="table-name">Completed tasks in "{{ todo.name }}"</th>
</table>

<table class="todo_table">
<tr>
    <th>Task</th>
    <th>Created</th>
    <th>Due on</th>
    <th>Owner</th>
    <th>Mark</th>
</tr>

    {% for this_task in tasks %}
        <tr>
            <td scope="col" class="row task_row">{{ this_task.task }}</td>
            <td scope="col" class="row create_row">{{ this_task.created }}</td>
            <td scope="col" class="row due_row">{{ this_task.due_on }}</td>
            <td scope="col" class="row own_row">{{ this_task.owner }}</td>
            <td scope="col" class="row done_row"><button class="status">Not Done</button></td>
        </tr>

    {% endfor %}


</table>
<a class="link1" href="http://localhost:8000/todos/1/">
    <button class="btn2" >View uncompleted task</button></a>
<button class="btn3">Delete this list</button>

</div>

{% endblock %}